.card{
	background: $primary-color;
	border-radius: 2.5rem;
	@include flexbox(column);
	overflow: hidden;

	.img-wrapper{
	
		@include size(100%, 70%);

		img{
			@include size(100%);
		}
	}

	.content{
		@include size(100%, 30%);
		padding: 2rem 0;
		

		.title{
			font-family: gothamBold;
			color: $secondary-color;
		}

		.price{
			font-family: gothamBold;
			color: $accent-color-3;
		}
	}
}

.btn{
	border-radius: 3.5rem;
	border-width: 0.1rem;
	border-style: solid;
	padding: 0.5rem 2rem;
	font-family: gothamBook;
	text-decoration: none;
	font-size: 1.3rem;
	font-weight: bold;
	white-space: nowrap;

	&:hover{
		cursor: pointer;
	}

}


.btn-primary{
	@extend .btn;
	border-color: $accent-color-2;
	background: $primary-color;
	color: $accent-color-2;
}

.btn-secondary{
	@extend .btn;
	border-color: $accent-color-2;
	background: $accent-color-2;
	color: $primary-color;
}

.input{
	border-radius: 3.5rem;
	padding: 1.3rem 2rem;
	border: 0.1rem solid $accent-color-1;
	background: $accent-color-1;

	&:focus{
	    outline: none;
	}

}

::placeholder { 
  color: $secondary-color;
}
