.container{
	width: 80%;
}

.active{
	display: flex !important;
}

.hide {
  display:none;
}

.show-block {
  display:block;
}

.show-flex{
  display: flex;
}

.sticky-top{
  position: fixed !important;
  top: 0;
}

.#{'hide-'} {
  &xxs {
    @media screen and (min-width: map-get($breakpoints, xxs)) {
      display:none!important;
    }
  }
  &xs {
    @media screen and (min-width: map-get($breakpoints, xs)) {
      display:none!important;
    }
  }
  &sm {
    @media screen and (min-width: map-get($breakpoints, sm)) {
      display:none!important;
    }
  }
  &md {
    @media screen and (min-width: map-get($breakpoints, md)) {
      display:none!important;
    }
  }
  &lg {
    @media screen and (min-width: map-get($breakpoints, lg)) {
      display:none!important;
    }
  }

  &xlg {
    @media screen and (min-width: map-get($breakpoints, xlg)) {
      display:none!important;
    }
  }
}

.#{'show-block-'} {
  &xxs {
    @media screen and (min-width: map-get($breakpoints, xxs)) {
      display:block!important;
    }
  }

  &xs {
    @media screen and (min-width: map-get($breakpoints, xs)) {
      display:block!important;
    }
  }
  &sm {
    @media screen and (min-width: map-get($breakpoints, sm)) {
      display:block!important;
    }
  }
  &md {
    @media screen and (min-width: map-get($breakpoints, md)) {
      display:block!important;
    }
  }
  &lg {
    @media screen and (min-width: map-get($breakpoints, lg)) {
      display:block!important;
    }
  }
  &xlg {
    @media screen and (min-width: map-get($breakpoints, xlg)) {
      display:block!important;
    }
  }
}

.#{'show-flex-'} {
  &xxs {
    @media screen and (min-width: map-get($breakpoints, xxs)) {
      display:flex!important;
    }
  }

  &xs {
    @media screen and (min-width: map-get($breakpoints, xs)) {
      display:flex!important;
    }
  }
  &sm {
    @media screen and (min-width: map-get($breakpoints, sm)) {
      display:flex!important;
    }
  }
  &md {
    @media screen and (min-width: map-get($breakpoints, md)) {
      display:flex!important;
    }
  }
  &lg {
    @media screen and (min-width: map-get($breakpoints, lg)) {
      display:flex!important;
    }
  }
   &xlg {
    @media screen and (min-width: map-get($breakpoints, xlg)) {
      display:flex!important;
    }
  }
}


