@font-face {
  font-family: "chunkfive";
  src: url("../assets/fonts/Chunkfive Ex.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "gothamBold";
  src: url("../assets/fonts/Gotham-Bold.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gothamBook";
  src: url("../assets/fonts/Gotham-Book 4.otf");
  font-weight: normal;
  font-style: normal;
}
.card {
  background: #f6f2ed;
  border-radius: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  overflow: hidden;
}
.card .img-wrapper {
  width: 100%;
  height: 70%;
}
.card .img-wrapper img {
  width: 100%;
  height: 100%;
}
.card .content {
  width: 100%;
  height: 30%;
  padding: 2rem 0;
}
.card .content .title {
  font-family: gothamBold;
  color: #673826;
}
.card .content .price {
  font-family: gothamBold;
  color: #839a50;
}

.btn, .btn-secondary, .btn-primary {
  border-radius: 3.5rem;
  border-width: 0.1rem;
  border-style: solid;
  padding: 0.5rem 2rem;
  font-family: gothamBook;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
  white-space: nowrap;
}
.btn:hover, .btn-secondary:hover, .btn-primary:hover {
  cursor: pointer;
}

.btn-primary {
  border-color: #be3b30;
  background: #f6f2ed;
  color: #be3b30;
}

.btn-secondary {
  border-color: #be3b30;
  background: #be3b30;
  color: #f6f2ed;
}

.input {
  border-radius: 3.5rem;
  padding: 1.3rem 2rem;
  border: 0.1rem solid #ece1d0;
  background: #ece1d0;
}
.input:focus {
  outline: none;
}

::placeholder {
  color: #673826;
}

.container {
  width: 80%;
}

.active {
  display: flex !important;
}

.hide {
  display: none;
}

.show-block {
  display: block;
}

.show-flex {
  display: flex;
}

.sticky-top {
  position: fixed !important;
  top: 0;
}

@media screen and (min-width: 320px) {
  .hide-xxs {
    display: none !important;
  }
}
@media screen and (min-width: 481px) {
  .hide-xs {
    display: none !important;
  }
}
@media screen and (min-width: 641px) {
  .hide-sm {
    display: none !important;
  }
}
@media screen and (min-width: 961px) {
  .hide-md {
    display: none !important;
  }
}
@media screen and (min-width: 1025px) {
  .hide-lg {
    display: none !important;
  }
}
@media screen and (min-width: 1281px) {
  .hide-xlg {
    display: none !important;
  }
}

@media screen and (min-width: 320px) {
  .show-block-xxs {
    display: block !important;
  }
}
@media screen and (min-width: 481px) {
  .show-block-xs {
    display: block !important;
  }
}
@media screen and (min-width: 641px) {
  .show-block-sm {
    display: block !important;
  }
}
@media screen and (min-width: 961px) {
  .show-block-md {
    display: block !important;
  }
}
@media screen and (min-width: 1025px) {
  .show-block-lg {
    display: block !important;
  }
}
@media screen and (min-width: 1281px) {
  .show-block-xlg {
    display: block !important;
  }
}

@media screen and (min-width: 320px) {
  .show-flex-xxs {
    display: flex !important;
  }
}
@media screen and (min-width: 481px) {
  .show-flex-xs {
    display: flex !important;
  }
}
@media screen and (min-width: 641px) {
  .show-flex-sm {
    display: flex !important;
  }
}
@media screen and (min-width: 961px) {
  .show-flex-md {
    display: flex !important;
  }
}
@media screen and (min-width: 1025px) {
  .show-flex-lg {
    display: flex !important;
  }
}
@media screen and (min-width: 1281px) {
  .show-flex-xlg {
    display: flex !important;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: chunkfive;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

header {
  width: 100%;
  height: 5.5rem;
  background: #f6f2ed;
  font-family: gothamBold;
  z-index: 100;
}
header .container, header .navbar, header .navbar ul {
  width: 100%;
  height: 100%;
}
header .container {
  margin: auto;
}
@media only screen and (min-width: 1025px) {
  header .container {
    width: 80%;
  }
}
header .navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
@media only screen and (min-width: 1025px) {
  header .navbar ul {
    flex-wrap: nowrap;
  }
}
header .navbar ul li {
  height: 100%;
  padding: 0 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
header .navbar ul a {
  font-size: 1.5rem;
  white-space: nowrap;
  color: #673826;
  transition: 0.6s;
}
header .navbar .navbar-logo {
  flex: 1;
  padding-left: 2rem;
  transition: 0.6s;
}
@media only screen and (min-width: 1025px) {
  header .navbar .navbar-logo {
    padding: 0;
  }
}
header .navbar .navbar-logo img {
  height: 3.5rem;
}
header .navbar .navbar-link, header .navbar .navbar-btn {
  display: none;
  width: 100%;
  justify-content: center;
  background: #f6f2ed;
  z-index: 100;
}
@media only screen and (min-width: 1025px) {
  header .navbar .navbar-link, header .navbar .navbar-btn {
    display: flex !important;
    width: auto;
  }
}
header .navbar .navbar-link a:hover {
  color: #839a50;
  text-decoration: underline;
}
header .navbar .navbar-btn a {
  color: #be3b30;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}
header .navbar .navbar-btn a:hover {
  background: #be3b30;
  color: #ece1d0;
  text-decoration: none;
}
header .navbar .navbar-toggle i:hover {
  cursor: pointer;
}

.hero {
  background: #be3b30;
  height: 55rem;
  overflow: hidden;
  background-image: url("../assets/img/herobanner.png");
  background-repeat: no-repeat;
  background-position: center 15rem;
}
@media only screen and (min-width: 1025px) {
  .hero {
    background-image: none;
  }
}
.hero .container {
  width: 80%;
  height: 100%;
  margin: auto;
  display: block;
  position: relative;
  text-align: center;
}
@media only screen and (min-width: 1025px) {
  .hero .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.hero h1 {
  font-size: 5rem;
  line-height: 4.3rem;
  letter-spacing: 0.3rem;
  text-shadow: 0 0 #be3b30;
  color: #ece1d0;
  width: 100%;
  position: absolute;
  top: 9rem;
  right: auto;
  bottom: auto;
  left: 50%;
  transform: translateX(-50%);
}
@media only screen and (min-width: 1025px) {
  .hero h1 {
    position: static;
    transform: none;
    text-align: left;
  }
}
@media only screen and (min-width: 1025px) {
  .hero .order-btn {
    width: 100%;
    margin-top: 1rem;
  }
}
@media only screen and (min-width: 1025px) {
  .hero .btn-primary {
    padding: 1rem 2.5rem;
    font-size: 1.5rem;
  }
}
.hero .btn-primary:hover {
  background: #839a50;
  color: #ece1d0;
}
@media only screen and (min-width: 1025px) {
  .hero .btn-primary:first-child {
    margin-right: 1.3rem;
  }
}
.hero img {
  width: 70%;
}

.hero + section {
  background: #f6f2ed;
  width: 100%;
  background: #f6f2ed;
  padding-top: 0.5rem;
  padding-bottom: 3rem;
}

.order-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  margin: auto;
}
@media only screen and (min-width: 320px) {
  .order-btn {
    width: 90%;
  }
}
@media only screen and (min-width: 481px) {
  .order-btn {
    width: 95%;
  }
}
@media only screen and (min-width: 961px) {
  .order-btn {
    width: 80%;
  }
}
.order-btn .btn-secondary {
  flex: 1;
  border-radius: 0;
  padding: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
}
.order-btn .btn-secondary:hover {
  background: #d2594f;
}
.order-btn .btn-secondary:first-child {
  margin-right: 1rem;
}

.register {
  width: 100%;
  background: #f6f2ed;
  color: #673826;
  font-family: gothamBook;
  font-weight: bold;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
  border: 0.2rem solid #ece1d0;
}
.register p {
  margin-bottom: 1rem;
  font-family: gothamBold;
}
.register a {
  color: #be3b30;
  border-bottom: 0.1rem solid #be3b30;
}
.register a:hover {
  color: #e7a6a0;
  border-bottom: 0.1rem solid #dd7f77;
}
.register div {
  width: 64rem;
  padding: 0;
}
.register .input {
  flex: 2;
  padding-right: 25rem;
}
.register .btn-secondary {
  flex: 1;
  color: #fff;
  padding: 0.9rem 2rem;
  margin-left: -15rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.register .btn-secondary:hover {
  background: #839a50;
  color: #ece1d0;
  border-color: #ece1d0;
}

.main {
  background: #f6f2ed;
  width: 100%;
}
@media only screen and (min-width: 961px) {
  .main {
    padding-bottom: 10rem;
  }
}
.main .favorites {
  width: 100%;
}
.main .favorites h2 {
  text-align: center;
  color: #673826;
  padding-top: 5rem;
  padding-bottom: 2rem;
}
.main .favorites .favorites-content {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
@media only screen and (min-width: 641px) {
  .main .favorites .favorites-content {
    display: flex;
    flex-direction: row !important;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 961px) {
  .main .favorites .favorites-content {
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1025px) {
  .main .favorites .favorites-content {
    width: 80% !important;
  }
}
@media only screen and (min-width: 641px) {
  .main .favorites .favorites-content .card {
    flex-basis: 40%;
  }
}
@media only screen and (min-width: 961px) {
  .main .favorites .favorites-content .card {
    flex-basis: 23.5%;
  }
}
.main .favorites .favorites-content .card:hover {
  cursor: pointer;
}
.main .favorites .favorites-content .card:hover > .img-wrapper {
  background-color: black;
}
.main .favorites .favorites-content .card:hover:hover img {
  opacity: 0.8;
}
.main .promos {
  width: 100%;
  padding-top: 5rem;
}
.main .promos h2 {
  text-align: center;
  color: #673826;
  margin-bottom: 2rem;
}
.main .promos .promos-content {
  width: 90%;
  margin: auto;
}
@media only screen and (min-width: 1025px) {
  .main .promos .promos-content {
    width: 80% !important;
  }
}
.main .promos .promos-content ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
@media only screen and (min-width: 1025px) {
  .main .promos .promos-content ul {
    flex-direction: row !important;
    flex-wrap: wrap;
  }
}
.main .promos .promos-content ul li {
  margin-bottom: 1rem;
}
@media only screen and (min-width: 1025px) {
  .main .promos .promos-content ul li {
    flex-basis: 50%;
  }
}
.main .promos .promos-content ul li img {
  width: 100%;
  border-radius: 2.5rem;
}
.main .promos .promos-content ul li:hover {
  cursor: pointer;
}
@media only screen and (min-width: 1025px) {
  .main .promos .promos-content ul li:nth-child(even) {
    padding-left: 1rem;
  }
}
@media only screen and (min-width: 1025px) {
  .main .promos .promos-content ul li:nth-child(odd) {
    padding-right: 1rem;
  }
}
.main .pickup {
  width: 100%;
  padding: 5rem 0;
}
@media only screen and (min-width: 1025px) {
  .main .pickup {
    padding-top: 2.5rem !important;
  }
}
.main .pickup .container {
  width: 90%;
  border: 0.2rem solid #375C6F;
  border-radius: 2.5rem;
  padding: 3rem;
  margin: auto;
  color: #375C6F;
  text-align: center;
}
@media only screen and (min-width: 641px) {
  .main .pickup .container {
    width: 60% !important;
  }
}
@media only screen and (min-width: 961px) {
  .main .pickup .container {
    width: 50% !important;
  }
}
.main .pickup h2 {
  margin-bottom: 2rem;
}
.main .pickup p {
  margin-bottom: 2.5rem;
  text-align: center;
  font-family: gothamBold;
}
.main .pickup a {
  color: #375C6F;
  font-family: gothamBook;
  border-bottom: 0.3rem solid #c3d7e2;
  padding-bottom: 0;
}
.main .pickup a:hover {
  color: black;
  border-bottom: 0.3rem solid #26404d;
}
.main .delivery {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 5rem;
  background: #ece1d0;
  color: #673826;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
@media only screen and (min-width: 961px) {
  .main .delivery {
    margin-top: 4rem;
    flex-direction: row-reverse !important;
    height: 35rem;
  }
}
.main .delivery img {
  width: 50%;
}
.main .delivery .container {
  margin: auto;
  text-align: center;
}
@media only screen and (min-width: 961px) {
  .main .delivery .container {
    text-align: left !important;
    flex-basis: 60%;
  }
}
.main .delivery .container h1 {
  font-size: 3.2rem;
  margin-bottom: 1.5rem;
}
.main .delivery .container p {
  margin-bottom: 2rem;
}
.main .delivery .container h1 + p {
  font-family: gothamBook;
}
.main .delivery .container h1 + p > b, .main .delivery .container h1 + p + p {
  font-family: gothamBold;
}
.main .delivery .container .download-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 1.7rem;
}
@media only screen and (min-width: 961px) {
  .main .delivery .container .download-logo {
    justify-content: flex-start !important;
  }
}
.main .delivery .container .download-logo img {
  width: 40%;
  margin-right: 1.5rem;
}
@media only screen and (min-width: 641px) {
  .main .delivery .container .download-logo img {
    width: 30% !important;
  }
}
@media only screen and (min-width: 961px) {
  .main .delivery .container .download-logo img {
    width: 15% !important;
  }
}
.main .delivery .container .download-logo img:hover {
  cursor: pointer;
}
.main .delivery .container + div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
}
@media only screen and (min-width: 961px) {
  .main .delivery .container + div {
    flex-basis: 40%;
    margin-right: 2rem;
  }
}
@media only screen and (min-width: 961px) {
  .main .delivery .container + div img {
    position: relative;
    top: 1rem;
  }
}
@media only screen and (min-width: 961px) {
  .main .delivery .phone {
    width: 40% !important;
    margin-left: auto;
  }
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background: #673826;
  padding: 5rem 2rem;
  text-align: center;
}
footer a, footer p {
  color: #ece1d0;
}
footer ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  line-height: 3rem;
}
@media only screen and (min-width: 961px) {
  footer ul {
    flex-direction: row !important;
  }
}
@media only screen and (min-width: 961px) {
  footer ul li:not(:last-child) {
    margin-right: 4rem;
  }
}
footer a {
  font-family: gothamBold;
}
footer a:hover {
  text-decoration: underline;
}
footer p {
  margin-top: 5rem;
  font-family: gothamBook;
}
@media only screen and (min-width: 961px) {
  footer p {
    font-size: 1.3rem;
  }
}

/*# sourceMappingURL=style.css.map */
