@import 'helper';
@import 'variables';
@import 'components';
@import 'utils';


*{
	@include reset();
}

html{
	font-size: $font-size;
}

body{
	font-size: 1.6rem;
	font-family: $font-stack;
}


a{
	text-decoration: none;
}

li{
	list-style-type: none;
}


header{
	@include size($height: 5.5rem);
	background: $primary-color;
	font-family: gothamBold;
	z-index: 100;

	.container, .navbar, .navbar ul{
		@include size();
	}

	.container{
		margin: auto;
		@include breakpoint(lg){
			width: 80%;
		}
	}

	.navbar{
		
		ul{
			@include flexbox($cross: center, $wrap: wrap);

			@include breakpoint(lg){
				flex-wrap: nowrap;
			}

			li{	
				height: 100%;
				padding: 0 2.5rem;
				@include flexbox($cross: center);
			}

			a{
				font-size: 1.5rem;
				white-space: nowrap;
				color: $secondary-color;
				transition: 0.6s;
			}
		}

		.navbar-logo{
			flex: 1;
			padding-left: 2rem;
			transition: 0.6s;

			@include breakpoint(lg){
				padding: 0;
			}

			img{
				height: 3.5rem;
			}
		}

		.navbar-link, .navbar-btn{
			display: none;
			width: 100%;
			justify-content: center;
			background: $primary-color;
			z-index: 100;

			@include breakpoint(lg){
				display: flex!important;
				width: auto;
			}
		}

		.navbar-link a:hover{
			color: $accent-color-3;
			text-decoration: underline;
		}

		.navbar-btn a{
			color: $accent-color-2;
			padding-top: 0.8rem;
			padding-bottom: 0.8rem;

			&:hover{
				background: $accent-color-2;
				color: $accent-color-1;
				text-decoration: none;
			}
		}

		.navbar-toggle i:hover{
			cursor: pointer;
		}
	}

}

.hero{
	background: $accent-color-2;
	height: 55rem;
	overflow: hidden;
	background-image: url('../assets/img/herobanner.png');
	background-repeat: no-repeat;
	background-position: center 15rem;

	@include breakpoint(lg){
		background-image: none;
	}


	.container{
		@include size(80%, 100%);
		margin: auto;
		display: block;
		position: relative;
		text-align: center;

		@include breakpoint(lg){
			@include flexbox($main: space-between, $cross: center);
		}
	}

	h1{
		font-size: 5rem;
		line-height: 4.3rem;
		letter-spacing: 0.3rem;
		text-shadow: 0 0 $accent-color-2;
		color: $accent-color-1;
		width: 100%;
		@include abs-position(9rem, auto, auto, 50%);
		transform: translateX(-50%);

		@include breakpoint(lg){
			position: static;
			transform: none;
			text-align: left;
		}
	}	

	.order-btn{
		@include breakpoint(lg){
			width: 100%;
			margin-top: 1rem;
		}
	}

	.btn-primary{
		@include breakpoint(lg){
			padding: 1rem 2.5rem; 
			font-size: 1.5rem;
		}

		&:hover{
			background: $accent-color-3;
			color: $accent-color-1;
		}

		&:first-child{
			@include breakpoint(lg){
				margin-right: 1.3rem;
			}
		}
	}

	img{
		width: 70%;
	}
}

.hero + section{
	background: $primary-color;
	width: 100%;
	background: $primary-color;
	padding-top:  0.5rem;
	padding-bottom: 3rem;
}

.order-btn{
	@include flexbox($main: center);
	margin: auto;

	@include breakpoint(xxs){
		width: 90%;
	}

	@include breakpoint(xs){
		width: 95%;
	}

	@include breakpoint(md){
		width: 80%;
	}

	.btn-secondary{
		flex:1;
		border-radius: 0;
		padding: 1.5rem;
		text-align: center;
		font-size: 1.5rem;
	}

	.btn-secondary:hover{
		background: lighten($accent-color-2, 10%)
	}

	.btn-secondary:first-child{
			margin-right: 1rem;
	}
}

.register{
	width: 100%;
	background: $primary-color;
	color: $secondary-color;
	font-family: gothamBook;
	font-weight: bold;
	padding: 2rem 0;
	@include flexbox(column, center, center);
	text-align: center;
	border: 0.2rem solid $accent-color-1;

	p{
		margin-bottom: 1rem;
		font-family: gothamBold;
	}
	a{
		color: $accent-color-2;
		border-bottom: 0.1rem solid $accent-color-2;

		&:hover{
			color: lighten($accent-color-2, 30%);
			border-bottom: 0.1rem solid lighten($accent-color-2, 20%);
		}
	}

	div{
		width: 64rem;
		padding: 0;
	}


	.input{
		flex:2;
		padding-right: 25rem;
	}

	.btn-secondary{
		flex:1;
		color: #fff;
		padding: 0.9rem 2rem;
		margin-left: -15rem;
		@include flexbox($main: center, $cross: center);

		&:hover{
			background: $accent-color-3;
			color: $accent-color-1;
			border-color: $accent-color-1;
		}
	}
}

.main{
	background: $primary-color;
	width: 100%;

	@include breakpoint(md){
		padding-bottom: 10rem;
	}

	.favorites{
		width: 100%;

		h2{
			text-align: center;
			color: $secondary-color;
			padding-top: 5rem;
			padding-bottom: 2rem;
		}

		.favorites-content{
			width: 80%;
			margin: auto;
			@include flexbox(column);

			@include breakpoint(sm){
				@include flexbox($direction: row !important, $main: space-evenly, $wrap: wrap);
			}

			@include breakpoint(md){
				justify-content: space-between;
			}

			@include breakpoint(lg){
				width: 80% !important;
			}

			.card{

				@include breakpoint(sm){
					flex-basis: 40%;
				}

				@include breakpoint(md){
					flex-basis: 23.5%;
				}
				
				&:hover{
					cursor: pointer;
				}

				&:hover > .img-wrapper{
					 background-color: black;
				}

				&:hover:hover img {
				    opacity: 0.8;
				}
			}
			
		}
	}

	.promos{
		width: 100%;
		padding-top: 5rem;

		h2{
			text-align: center;
			color: $secondary-color;
			margin-bottom: 2rem;
		}

		.promos-content{
			width: 90%;
			margin: auto;

			@include breakpoint(lg){
				width: 80% !important;
			}
			
			ul{
				@include flexbox(column, center, center);

				@include breakpoint(lg){
					flex-direction: row !important;
					flex-wrap: wrap;
				}

				li{
					@include breakpoint(lg){
						flex-basis: 50%;
					}

					margin-bottom: 1rem;

					img{
						width: 100%;
						border-radius: 2.5rem;
					}

					&:hover{
						cursor: pointer;
					}

					&:nth-child(even){
						@include breakpoint(lg){
							padding-left: 1rem;
						}
					}

					&:nth-child(odd){
						@include breakpoint(lg){
							padding-right: 1rem;
						}
					}
				}
			}
		}
	}


	.pickup{
		width: 100%;
		padding: 5rem 0;

		@include breakpoint(lg){
			padding-top: 2.5rem !important;
		}

		
		.container{
			width: 90%;
			border: 0.2rem solid $accent-color-4;
			border-radius: 2.5rem;
			padding: 3rem;
			margin: auto;
			color: $accent-color-4;
			text-align: center;

			@include breakpoint(sm){
				width: 60% !important;
			}

			@include breakpoint(md){
				width: 50% !important;
			}
		}

		h2{
			margin-bottom: 2rem;
		}

		p{
			margin-bottom: 2.5rem;
			text-align: center;
			font-family: gothamBold;
		}

		a{
			color: $accent-color-4;
			font-family: gothamBook;
			border-bottom: 0.3rem solid lighten($accent-color-4, 50%);
			padding-bottom: 0;

			&:hover{
				color: darken($accent-color-4, 50%);
				border-bottom: 0.3rem solid darken($accent-color-4, 10%);
			}
		}

	}

	.delivery{
		width: 100%;
		padding-top: 2rem;
		padding-bottom: 5rem;
		background: $accent-color-1;
		color: $secondary-color;

		@include flexbox(column, center, center);

		@include breakpoint(md){
			margin-top: 4rem;
			flex-direction: row-reverse !important;
			height: 35rem;
		}
		
		img{
			width: 50%;
		}

		.container{
			margin: auto;
			text-align: center;

			@include breakpoint(md){
				text-align: left !important;
				flex-basis:60%;
			}

			h1{
				font-size: 3.2rem;
				margin-bottom: 1.5rem;
			}

			p{
				margin-bottom: 2rem;
			}

			h1 + p{
				font-family: gothamBook;
			}


			h1 + p > b,  h1 + p + p{
				font-family: gothamBold;
			}

			.download-logo{
				@include flexbox($main: center);
				width: 100%;
				margin-bottom: 1.7rem;

				@include breakpoint(md){
					justify-content: flex-start !important;
				}

				img{
					width: 40%;
					margin-right: 1.5rem;

					@include breakpoint(sm){
						width: 30% !important;
					}

					@include breakpoint(md){
						width: 15% !important;
					}

					&:hover{
						cursor: pointer;
					}
				}
			}

		}

		.container + div{
			@include flexbox($main: center);

			@include breakpoint(md){
				flex-basis:40%;
				margin-right: 2rem;
			}

			img{

				@include breakpoint(md){
					position: relative;
					top: 1rem;
				}

			}
		}

		.phone{
			@include breakpoint(md){
				width: 40% !important;
				margin-left: auto;
			}
		}

	}
}

footer{
	width: 100%;
	@include flexbox(column, center, center);
	background: $secondary-color;
	padding: 5rem 2rem;
	text-align: center;

	a, p{
		color: $accent-color-1;
	}

	ul{
		@include flexbox(column);
		line-height: 3rem;

		@include breakpoint(md){
			flex-direction: row !important;
		}

		li:not(:last-child){
			@include breakpoint(md){
				margin-right: 4rem;
			}
		}
	}

	a{
		font-family: gothamBold;

		&:hover{
			text-decoration: underline;
		}
	}

	p{
		margin-top: 5rem;
		font-family: gothamBook;

		@include breakpoint(md){
			font-size: 1.3rem;
		}
	}
}



